.top-headlines-wrapper-news {
    height: auto; 
   
    
    cursor: pointer;
  }
  
  .top-headlines-container-news {
    padding: 10px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
  }
  
  .headline-item-news {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width:96%;
    transition: all 0.3s ease; 
  }
  
  .headline-item-news.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
    padding: 20px;
  }
  
  .image-container-news {
  
    position: relative; 
    width: auto; 
    height: 200px; 
    width : 500px ;
    margin-right: 10px;
    padding : 20px ;
  }
  
  .image-container-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
  }
  
  .date {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
  }

  .summary-news {
   
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
  }
  
  .summary-news h3 {
    margin-bottom: 5px;
    margin-top: 0;
  }
  
  .summary-news p {
    margin: 0;
  }
  
  .summary-news button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 8px 16px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  
  .summary-news button:hover {
    background-color: #0056b3; 
  }


  
@media screen and (max-width: 768px) {
    .top-headlines-container-news {
      padding: 5px; 
    }
  
    .headline-item-news {
      padding: 10px; 
      width: 100%; 
    }
  
    .image-container-news {
      width: 50%; 
      height: auto;
      margin-right: 10px; 
    }
  
    .summary-news {
      font-size: 14px; 
    }
  }
  